/* colored version of SII CSS */
.reveal .progress span {background-color: #D64B13; }
.reveal em { color: #005AA2; }
.reveal li li { color: #005AA2; }
.reveal li li li { color: #D64B13; }
.reveal li li li li { color: #B2BE3A; }
.reveal a { color: #D64B13; }